.wbdv-navbar {
  background-color: lightblue;
  padding: 10px;
  width: 100%;
  z-index: 1;
}

.wbdv-navbar-title {
  font-size: 16px;
  margin-top: 5px;
}

.wbdv-clickable {
  cursor: pointer;
}

.wbdv-delete {
  color: red;
  padding-right: 5px;
}

.wbdv-save {
  color: green;
  padding-right: 5px
}

.wbdv-create {
  color: red;
}

.wbdv-floating-create {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1;
}

.wbdv-add-module-button {
  margin: 12px;
}

.wbdv-course-title {
  font-size: 22px;
}

.wbdv-close-editor-button {
  margin: 15px
}

.wbdv-tabs-bar, .wbdv-pills-bar, .wbdv-widgets {
  margin-top: 15px
}

.wbdv-link-white {
  color: white;
}

.wbdv-link-white:hover {
  color: white;
}

.wbdv-add-item {
  color: #007bff;
}

.wbdv-editor-bottom-padding {
  padding-bottom: 150px;
}

